<div class="side-navbar hidden-xs">
  <div style="text-align: center;">
    <%= link_to root_path do %>
      <%= image_tag 'consulate-logo2.png', class: "consulate-logo" %>
    <% end %>
  </div>
  <div>
    <ul class="no-bullets links">
      <li><p class="link"><%= link_to "HOME", root_path, class: cp(root_path) %></p></li>
      <li><p class="link"><%= link_to "STAFF", staff_path, class: cp(staff_path)  %></p></li>
      <li><p class="link"><%= link_to "EMERGENCIES", emergencies_path, class: cp(emergencies_path) %></p></li>
      <li><p class="link"><%= link_to "PASSPORTS", passports_path, class: cp(passports_path) %></p></li>
      <li><p class="link"><%= link_to "CONTACT", contact_path, class: cp(contact_path) %></p></li>
      <li><p class="link"><%= link_to "LINKS", links_path, class: cp(links_path) %></p></li>
    </ul>
  </div>
  <div>
    <ul class="no-bullets-navbar contact-details">
      <li><p>T: +44 (0)141 204 4041</p></li>
      <li>E:&nbsp&nbsp<a href="mailto:consul@swedenglasgow.com">consul@swedenglasgow.com</a></li>
    </ul>
  </div>
  <div>
    <ul class="no-bullets contact-details">
      <li><p>Consulate of Sweden</p></li>
      <li><p>185 St Vincent Street</p></li>
      <li><p>Glasgow, G2 5QD</p></li>
    </ul>
  </div>
</div>
<div class="visible-xs">
  <div class="navbar-lewagon">
    <%= image_tag 'consulate-logo2.png', class: "consulate-logo-sm" %>
    <div class="navbar-lewagon-actions d-block d-sm-none">
      <div class="dropdown">
        <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <li><%= link_to 'HOME', root_path, class: "dropdown-item" %></li>
          <li><%= link_to 'STAFF', staff_path, class: "dropdown-item" %></li>
          <li><%= link_to 'EMERGENCIES', emergencies_path, class: "dropdown-item" %></li>
          <li><%= link_to 'PASSPORTS', passports_path, class: "dropdown-item" %></li>
          <li><%= link_to 'CONTACT', contact_path, class: "dropdown-item" %></li>
          <li><%= link_to 'LINKS', links_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
