<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to akut_hjalp_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to emergencies_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>AKUT HJÄLP</h1>
      <p>Svenska konsulatet kan hjälpa svenska medborgare, som har råkat ut för svårigheter i Glasgow eller västra Skottland.</p>
      <p>Om du är allvarligt sjuk, skadad, fallit offer för ett brott eller varit med om någon svår situation, kan vi bistå med hjälp och råd.</p>
      <p>Vänligen kontakta <a class="color-email" href="tel:+441412044041">+44 (0)141 204 4041</a>.</p>
      <p>För akut hjälp kontakta: David Hunter, konsul: <a class="color-email" href="tel:+447767432203">+44 (0)7767 432 203</a>.</p>
      <p>Observera att passförnyelse och visumförfrågningar är inte betraktade som akuta ärenden.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div class="language">
        <%= link_to akut_hjalp_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to emergencies_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>AKUT HJÄLP</h1>
      <p>Svenska konsulatet kan hjälpa svenska medborgare, som har råkat ut för svårigheter i Glasgow eller västra Skottland.</p>
      <p>Om du är allvarligt sjuk, skadad, fallit offer för ett brott eller varit med om någon svår situation, kan vi bistå med hjälp och råd.</p>
      <p>Vänligen kontakta <a class="color-email" href="tel:+441412044041">+44 (0)141 204 4041</a>.</p>
      <p>För akut hjälp kontakta: David Hunter, konsul: <a class="color-email" href="tel:+447767432203">+44 (0)7767 432 203</a>.</p>
      <p>Observera att passförnyelse och visumförfrågningar är inte betraktade som akuta ärenden.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
