<div class="wrapper hidden-xs">
  <%= render "components/navbar.html" %>
  <div class="container">
    <div class="language">
      <div class="flag-padding">
        <%= image_tag "swedish-flag.png", class: "flag" %>
        <p>Svenska</p>
      </div>
      <div class="flag-padding">
        <%= image_tag "british-flag.png", class: "flag" %>
        <p class="flag-active">English</p>
      </div>
    </div>
    <div class="container-yellow">
      <h1>EMERGENCIES</h1>
      <p>We can assist Swedish nationals who find themselves in difficulty while in Glasgow or south west Scotland.</p>
      <p>If you are seriously ill or injured, are the victim of a crime, or face other difficult personal circumstances then we can provide help and advice.</p>
      <p>During business hours, Monday to Friday, call: 0141 204 4041</p>
      <p class="short-line">Outside business hours call:</p>
      <p class="short-line">David Hunter, Consul: 07767 432203, or</p>
      <p class="short-line">Mairi Murray, Consular Assistant: 07563 950 908</p>
      <p class="short-line">Please note: these numbers are for <span class="strong-text">emergencies only</span>.</p>
      <h2 style="padding-top: 20px;">EMERGENCY PASSPORTS</h2>
      <p>The Glasgow consulate can issue emergency passports – see <a href="passports" class="passports-link">PASSPORTS</a> for advice.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <div class="flag-padding-xs">
          <%= image_tag "swedish-flag.png", class: "flag" %>
          <p>Svenska</p>
        </div>
        <div class="flag-padding-xs">
          <%= image_tag "british-flag.png", class: "flag" %>
          <p class="flag-active">English</p>
        </div>
      </div>
      <h1>WELCOME!</h1>
      <p>This is the website of the Swedish Consul in Glasgow.</p>
      <p>We provide consular services for Swedish nationals who are visitors or temporary residents in Glasgow and south west Scotland. In addition to the city of Glasgow, we cover the Strathclyde region and Dumfries and Galloway.</p>
      <p>The Honorary Consul in Glasgow is Mr David Hunter. Our Consular Assistant is Ms Mairi Murray.</p>
      <p>Our office is in the centre of Glasgow and is normally open during business hours (0930–1700) from Monday to Friday.</p>
      <p>An appointment is necessary.</p>
    </div>
  </div>
</div>
