<div class="wrapper hidden-xs">
  <%= render "components/navbar.html" %>
  <div class="container">
    <div class="language">
      <%= link_to startsida_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text">Svenska</p>
      <% end %>
      <%= link_to root_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text flag-active">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>WELCOME!</h1>
      <p>This is the website of the Swedish Consul in Glasgow.</p>
      <p>We provide consular services for Swedish nationals who are visitors or temporary residents in Glasgow and the West of Scotland.</p>
      <p>The Honorary Consul in Glasgow is Mr David Hunter. Our Consular Assistant is Ms Mairi Murray.</p>
      <p>Our office is in the centre of Glasgow and is open at varying times during business hours (0930–1700) from Monday to Friday.</p>
      <p>An appointment is necessary.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <%= link_to startsida_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text">Svenska</p>
        <% end %>
        <%= link_to root_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">English</p>
        <% end %>
      </div>
      <h1>WELCOME!</h1>
      <p>This is the website of the Swedish Consul in Glasgow.</p>
      <p>We provide consular services for Swedish nationals who are visitors or temporary residents in Glasgow and the West of Scotland.</p>
      <p>The Honorary Consul in Glasgow is Mr David Hunter. Our Consular Assistant is Ms Mairi Murray.</p>
      <p>Our office is in the centre of Glasgow and and is open at varying times during business hours (0930–1700) from Monday to Friday.</p>
      <p>An appointment is necessary.</p>
    </div>
  </div>
</div>
<div class="visible-xs">
  <%= render "components/footer.html" %>
</div>
