<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to kontakta_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to contact_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <div class="contact-flex hidden-sm hidden-md">
        <div style="margin-right: 40px;">
          <h1>KONTAKTA</h1>
          <div class="address">
            <h3 class="address-margin-top">SVERIGES KONSULAT</h3>
            <h3>185 ST VINCENT STREET</h3>
            <h3>GLASGOW</h3>
            <h3 class="address-margin-bottom">G2 5QD</h3>
          </div>
          <p class="short-line contact-margin padding-top-contact">Konsul: Mr David Hunter</p>
          <p class="short-line">Konsulär Assistent: Ms Mairi Murray</p>
          <p class="short-line contact-margin">T: +44 (0)141 204 4041</p>
          <p class="short-line">E:&nbsp<a class="color-email" href="mailto:consul@swedenglasgow.com">consul@swedenglasgow.com</a></p>
          <p class="short-line contact-margin">Öppettider: Tidsbeställning.</p>
          <p class="short-line">Efter kontorstid se <a href="emergencies" class="passports-link">NÖDSITUATIONER</a>.</p>
        </div>
        <div class="contact-margin-lg">
        <%= render "components/map.html" %>
        </div>
      </div>

      <div class="visible-sm visible-md">
        <h1>KONTAKTA</h1>
        <div class="address-sm">
          <h3>SVERIGES KONSULAT</h3>
          <h3>185 ST VINCENT STREET</h3>
          <h3>GLASGOW</h3>
          <h3>G2 5QD</h3>
          <p class="short-line contact-margin padding-top-contact">Konsul: Mr David Hunter</p>
          <p class="short-line">Konsulär Assistent: Ms Mairi Murray</p>
          <p class="short-line contact-margin">T: +44 (0)141 204 4041</p>
          <p class="short-line">E:&nbsp<a class="color-email" href="mailto:consul@swedenglasgow.com">consul@swedenglasgow.com</a></p>
          <p class="short-line contact-margin">Öppettider: Tidsbeställning.</p>
          <p class="short-line">Efter kontorstid se <a href="nodsituationer" class="passports-link">NÖDSITUATIONER</a>.</p>
        </div>
      <div class="contact-margin-xs-sm-md">
        <%= render "components/map.html" %>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <%= link_to kontakta_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to contact_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>KONTAKTA</h1>
      <div class="address-sm">
        <h3>SVERIGES KONSULAT</h3>
        <h3>185 ST VINCENT STREET</h3>
        <h3>GLASGOW</h3>
        <h3>G2 5QD</h3>
        <p class="short-line contact-margin padding-top-contact">Konsul: Mr David Hunter</p>
        <p class="short-line">Konsulär Assistent: Ms Mairi Murray</p>
        <p class="short-line contact-margin">T: +44 (0)141 204 4041</p>
        <p class="short-line">E:&nbsp<a class="color-email" href="mailto:consul@swedenglasgow.com">consul@swedenglasgow.com</a></p>
        <p class="short-line contact-margin">Öppettider: Tidsbeställning.</p>
        <p class="short-line">Efter kontorstid se <a href="nodsituationer" class="passports-link">NÖDSITUATIONER</a>.</p>
      </div>
      <div class="contact-margin-xs-sm-md">
        <%= render "components/map.html" %>
      </div>
    </div>
  </div>
</div>
<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>

