<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to lankar_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to links_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>NÅGRA LÄNKAR</h1>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.swedenabroad.se/sv/utlandsmyndigheter/storbritannien-london/" target="_blank" class="external-link external-link-size">SVERIGES AMBASSAD I LONDON</a>
        </div>
        <p>Konsulär, handel och kulturell upplysning</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.consulate-info.com/consulate/11442/Sweden-in-Edinburgh" target="_blank" class="external-link external-link-size">SVERIGES GENERALKONSUL, EDINBURGH</a>
        </div>
        <p>Konsulär hjälp i Edinburgh och östra Skottland</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.regeringen.se/" target="_blank" class="external-link external-link-size">SVERIGES REGERING STOCKHOLM</a>
        </div>
        <p>Portal för sveriges regering</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://visitsweden.com/" target="_blank" class="external-link external-link-size">VISIT SWEDEN</a>
        </div>
        <p>Reseinformation</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
        <a href="https://www.visitscotland.com/" target="_blank" class="external-link external-link-size">VISIT SCOTLAND</a>
        </div>
        <p>Skotska turistbyråns reseinformation</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
        <a href="https://www.vfsglobal.com/" target="_blank" class="external-link external-link-size">VFS GLOBAL</a>
        </div>
        <p>En officiell organisation som är auktoriserad att utfärda svenska visum</p>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div class="language">
        <%= link_to lankar_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to links_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>NÅGRA LÄNKAR</h1>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.swedenabroad.se/sv/utlandsmyndigheter/storbritannien-london/" target="_blank" class="external-link external-link-size-sm">SVERIGES AMBASSAD I LONDON</a>
        </div>
        <p>Konsulär, handel och kulturell upplysning</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.consulate-info.com/consulate/11442/Sweden-in-Edinburgh" target="_blank" class="external-link external-link-size-sm">SVERIGES GENERAL-KONSUL, EDINBURGH</a>
        </div>
        <p>Konsulär hjälp i Edinburgh och östra Skottland</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.regeringen.se/" target="_blank" class="external-link external-link-size-sm">SVERIGES REGERING STOCKHOLM</a>
        </div>
        <p>Portal för sveriges regering</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://visitsweden.com/" target="_blank" class="external-link external-link-size-sm">VISIT SWEDEN</a>
        </div>
        <p>Reseinformation</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
        <a href="https://www.visitscotland.com/" target="_blank" class="external-link external-link-size-sm">VISIT SCOTLAND</a>
        </div>
        <p>Skotska turistbyråns reseinformation</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
        <a href="https://www.vfsglobal.com/" target="_blank" class="external-link external-link-size-sm">VFS GLOBAL</a>
        </div>
        <p>En officiell organisation som är auktoriserad att utfärda svenska visum</p>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
