<div class="wrapper hidden-xs">
  <%= render "components/navbar.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to lankar_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white">Svenska</p>
      <% end %>
      <%= link_to links_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>USEFUL LINKS</h1>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SWEDISH EMBASSY LONDON</a>
        </div>
        <p>A comprehensive source of consular, commercial and cultural information</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.consulate-info.com/consulate/11442/Sweden-in-Edinburgh" target="_blank" class="external-link external-link-size">CONSUL GENERAL OF SWEDEN, EDINBURGH</a>
        </div>
        <p>Dealing with Consular matters in Edinburgh and East Scotland</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://www.government.se/" target="_blank" class="external-link external-link-size">SWEDISH GOVERNMENT STOCKHOLM</a>
        </div>
        <p>The portal for the Swedish government offices</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
          <a href="https://visitsweden.com/" target="_blank" class="external-link external-link-size">VISIT SWEDEN</a>
        </div>
        <p>Travel and tourist information</p>
      </div>
      <div class="useful-links">
        <div class="link-style">
        <a href="https://www.visitscotland.com/" target="_blank" class="external-link external-link-size">VISIT SCOTLAND</a>
        </div>
        <p>The Scottish Tourist Board's comprehensive visitors guide</p>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar.html" %>
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div class="language">
        <%= link_to lankar_path, class: "flag-padding-xs" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text">Svenska</p>
        <% end %>
        <%= link_to links_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">English</p>
        <% end %>
      </div>
      <h1>USEFUL LINKS</h1>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size-sm">SWEDISH EMBASSY LONDON</a>
        </div>
        <p>A comprehensive source of consular, commercial and cultural information</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.consulate-info.com/consulate/11442/Sweden-in-Edinburgh" target="_blank" class="external-link external-link-size-sm">CONSUL GENERAL OF SWEDEN, EDINBURGH</a>
        </div>
        <p>Dealing with Consular matters in Edinburgh and East Scotland</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://www.government.se/" target="_blank" class="external-link external-link-size-sm">SWEDISH GOVERNMENT STOCKHOLM</a>
        </div>
        <p>The portal for the Swedish government offices</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
          <a href="https://visitsweden.com/" target="_blank" class="external-link external-link-size-sm">VISIT SWEDEN</a>
        </div>
        <p>Travel and tourist information</p>
      </div>
      <div class="useful-links-sm">
        <div class="link-style-sm">
        <a href="https://www.visitscotland.com/" target="_blank" class="external-link external-link-size-sm">VISIT SCOTLAND</a>
        </div>
        <p>The Scottish Tourist Board's comprehensive visitors guide</p>
      </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer.html" %>
</div>
