<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to nodsituationer_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to emergencies_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>NÖDSITUATIONER</h1>
      <p>Svenska konsulatet kan hjälpa svenska medborgare, som har råkat ut för svårigheter i Glasgow och sydvästra Skottland.</p>
      <p>Om du är allvarligt sjuk, skadad, fallit offer för ett brott eller varit med om någon svår situation, kan vi bistå med hjälp och råd.</p>
      <p>Under kontorstid, måndag till fredag, ring: +44 (0)141 204 4041</p>
      <p class="short-line">Efter kontorstid och är&nbsp<span class="strong-text">endast vid nödsituationer</span>&nbspkontakta: David Hunter, konsul: +44 (0)7767 432 203</p>
      <h2 class="emergencies-padding-top">NÖDPASS</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass – se <a href="pass" class="passports-link">PASS</a> för råd.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <%= link_to nodsituationer_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to emergencies_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>NÖDSITUATIONER</h1>
      <p>Svenska konsulatet kan hjälpa svenska medborgare, som har råkat ut för svårigheter i Glasgow och sydvästra Skottland.</p>
      <p>Om du är allvarligt sjuk, skadad, fallit offer för ett brott eller varit med om någon svår situation, kan vi bistå med hjälp och råd.</p>
      <p>Under kontorstid, måndag till fredag, ring: +44 (0)141 204 4041</p>
      <p class="short-line">Efter kontorstid och är&nbsp<span class="strong-text">endast vid nödsituationer</span>&nbspkontakta: David Hunter, konsul: +44 (0)7767 432 203</p>
      <h2 class="emergencies-padding-top">NÖDPASS</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass – se <a href="pass" class="passports-link">PASS</a> för råd.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
