<div class="wrapper hidden-xs">
  <%= render "components/navbar.html" %>
  <div class="container">
    <div class="language">
      <%= link_to pass_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text">Svenska</p>
      <% end %>
      <%= link_to passports_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text flag-active">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>PASSPORTS & OTHER DOCUMENTS</h1>
      <p>The Glasgow consulate does not issue passports but can assist with applications. Passports will be issued either in Sweden or by the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SWEDISH EMBASSY IN LONDON</a> where the applicant will have to attend in person.</p>
      <p>You can call the embassy on +44(0)207 917 6400.</p>
      <p>When your application has been approved you can request that your passport is delivered to the consulate here in Glasgow. Similarly, you can have a newly-issued ID card or driving licence delivered here. Our fee for these services is at present £14 and we will require photographic identification before releasing documents.</p>
      <p>All visa applications must be made to <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size">VFS IN EDINBURGH</a> or to the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SWEDISH EMBASSY IN LONDON</a>. In certain circumstances they will allow these to be processed in Glasgow.</p>
      <h2 class="passports-padding-top">EMERGENCY PASSPORTS</h2>
      <p>The Glasgow consulate can issue emergency passports.</p>
      <p>Please note: if you need an emergency passport because your normal passport has been lost or stolen then you must obtain a report from the relevant police force to submit with your application.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
          <%= link_to pass_path, class: "flag-padding-xs" do %>
            <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
            <p class="flag-text">Svenska</p>
          <% end %>
          <%= link_to passports_path, class: "flag-padding-xs" do %>
            <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
            <p class="flag-text flag-active">English</p>
          <% end %>
      </div>
      <h1>PASSPORTS & OTHER DOCUMENTS</h1>
      <p>The Glasgow consulate does not issue passports but can assist with applications. Passports will be issued either in Sweden or by the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size-sm">SWEDISH EMBASSY IN LONDON</a> where the applicant will have to attend in person.</p>
      <p>You can call the embassy on +44(0)207 917 6400.</p>
      <p>When your application has been approved you can request that your passport is delivered to the consulate here in Glasgow. Similarly, you can have a newly-issued ID card or driving licence delivered here. Our fee for these services is at present £14 and we will require photographic identification before releasing documents.</p>
      <p>All visa applications must be made to <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size-sm">VFS IN EDINBURGH</a> or to the <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size-sm">SWEDISH EMBASSY IN LONDON</a>. In certain circumstances they will allow these to be processed in Glasgow.</p>
      <h2 class="passports-padding-top">EMERGENCY PASSPORTS</h2>
      <p>The Glasgow consulate can issue emergency passports.</p>
      <p>Please note: if you need an emergency passport because your normal passport has been lost or stolen then you must obtain a report from the relevant police force to submit with your application.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer.html" %>
</div>
