<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to pass_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to passports_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>PASS OCH ANDRA HANDLINGAR</h1>
      <p>Konsulatet i Glasgow kan inte ufärda pass. Passansökningar kan göras i Sverige eller på <a href="https://www.swedenabroad.se/en/about-abroad-for-swedish-citizens/united-kingdom/service-to-swedish-citizens/passport-abroad/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>&nbspdär den sökande måste närvara personligen. Det kan vara svårt att boka en tid men nya tider släpps regelbundet.</p>
      <p>Pass som har blivit utfärdade i Sverige eller av svenska ambassaden i London kan hämtas i Glasgow. Det är likadant med ett nytt ID-kort eller körkort. Det tillkommer en expeditionsavgift för detta och handlingarna utlämnas mot fotolegitimering.</p>
      <h2 class="passports-padding-top">VISUM</h2>
      <p>Alla visumansökningar måste göras hos <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size">VFS</a> i Edinburgh.</p>
      <h2 class="passports-padding-top">NÖDPASS</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass med förbehåll för godkännande från ambassaden.</p>
      <p>Om ditt pass blivit stulet eller på annat sätt förlorat måste en polisanmälan göras och en polisrapport lämnas in tillsammans med din ansökning. Kontakta oss om du behöver hjälp.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div class="language">
        <%= link_to pass_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to passports_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>PASS OCH ANDRA HANDLINGAR</h1>
      <p>Konsulatet i Glasgow kan inte ufärda pass. Passansökningar kan göras i Sverige eller på <a href="https://www.swedenabroad.se/en/about-abroad-for-swedish-citizens/united-kingdom/service-to-swedish-citizens/passport-abroad/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>&nbspdär den sökande måste närvara personligen. Det kan vara svårt att boka en tid men nya tider släpps regelbundet.</p>
      <p>Pass som har blivit utfärdade i Sverige eller av svenska ambassaden i London kan hämtas i Glasgow. Det är likadant med ett nytt ID-kort eller körkort. Det tillkommer en expeditionsavgift för detta och handlingarna utlämnas mot fotolegitimering.</p>
      <h2 class="passports-padding-top">VISUM</h2>
      <p>Alla visumansökningar måste göras hos <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size">VFS</a> i Edinburgh.</p>
      <h2 class="passports-padding-top">NÖDPASS</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass med förbehåll för godkännande från ambassaden.</p>
      <p>Om ditt pass blivit stulet eller på annat sätt förlorat måste en polisanmälan göras och en polisrapport lämnas in tillsammans med din ansökning. Kontakta oss om du behöver hjälp.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
