<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container">
    <div class="language">
      <%= link_to pass_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text flag-active">Svenska</p>
      <% end %>
      <%= link_to passports_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>PASS OCH ANDRA HANDLINGAR</h1>
      <p>Konsulatet i Glasgow kan inte ufärda pass men kan hjälpa med ansökningen. Passansökningar kan göras i Sverige eller på <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>&nbspsom man personligen måste besöka.</p>
      <p>Det går att förnya ditt körkort i Glasgow.</p>
      <p>Se <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a> för mer information eller ring: +44(0)207 917 6400.</p>
      <p>Pass som har blivit utfärdade i Sverige eller av svenska ambassaden i London kan hämtas i Glasgow. Det är likadant med ett nytt ID-kort eller körkort . Vår expeditionsavgift för detta är för närvarande £14 och handlingarna utlämnas mot fotolegitimering.</p>
      <p>Alla visumansökningar måste göras hos <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size">VFS I EDINBURGH</a> eller på <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>. Om du redan haft dina fingrar avtryckta kan detta möjligtvis göras i Glasgow. Se svenska ambassadens hemsida för ytterligare information.</p>
      <h2 class="passports-padding-top">NÖD</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass.</p>
      <p>Om ditt pass blivit stulet eller på annat sätt förlorat måste en polisanmälan göras och en polisrapport lämnas in tillsammans med din ansökning. Kontakta oss om du behöver hjälp.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <%= link_to pass_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to passports_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>PASS OCH ANDRA HANDLINGAR</h1>
      <p>Konsulatet i Glasgow kan inte ufärda pass men kan hjälpa med ansökningen. Passansökningar kan göras i Sverige eller på <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>&nbspsom man personligen måste besöka.</p>
      <p>Det går att förnya ditt körkort i Glasgow.</p>
      <p>Se <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a> för mer information eller ring: +44(0)207 917 6400.</p>
      <p>Pass som har blivit utfärdade i Sverige eller av svenska ambassaden i London kan hämtas i Glasgow. Det är likadant med ett nytt ID-kort eller körkort . Vår expeditionsavgift för detta är för närvarande £14 och handlingarna utlämnas mot fotolegitimering.</p>
      <p>Alla visumansökningar måste göras hos <a href="https://www.vfsglobal.se/UK/index.html" target="_blank" class="external-link external-link-size">VFS I EDINBURGH</a> eller på <a href="https://www.swedenabroad.se/en/embassies/united-kingdom-london/" target="_blank" class="external-link external-link-size">SVENSKA AMBASSADEN I LONDON</a>. Om du redan haft dina fingrar avtryckta kan detta möjligtvis göras i Glasgow. Se svenska ambassadens hemsida för ytterligare information.</p>
      <h2 class="passports-padding-top">NÖD</h2>
      <p>Konsulatet i Glasgow kan utfärda nödpass.</p>
      <p>Om ditt pass blivit stulet eller på annat sätt förlorat måste en polisanmälan göras och en polisrapport lämnas in tillsammans med din ansökning. Kontakta oss om du behöver hjälp.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
