<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container">
    <div class="language">
      <%= link_to personal_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text flag-active">Svenska</p>
      <% end %>
      <%= link_to staff_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>PERSONAL PÅ KONSULATET</h1>
      <div class="staff-member">
        <div>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/david.jpg",:class=>"staff-photo") %>
        </div>
        <div class="staff-text">
          <h2>DAVID HUNTER</h2>
          <p>Honorärkonsulen i Glasgow är David Hunter. Han är affärsman och driver sin egen verksamhet, en internationell konsultfirma, Hunter Advisers. David har nära kontakter med Sverige. Han bor i Glasgow med sin svenska fru.</p>
        </div>
      </div>
      <div class="staff-member staff-member2">
        <div>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/mairi.jpg",:class=>"staff-photo") %>
        </div>
        <div class="staff-text">
          <h2>MAIRI MURRAY</h2>
          <p>Mairi Murray är konsulär assistent. Hon har vanligen den första kontakten med besökare och har förbindelser med personalen på svenska ambassaden i London.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
        <%= link_to personal_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to staff_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1 class="consular-title-sm">PERSONAL PÅ KONSULATET</h1>
      <div class="staff-member1-sm">
        <h2>DAVID HUNTER</h2>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/david.jpg",:class=>"staff-photo-sm") %>
      </div>
      <p>Honorärkonsulen i Glasgow är David Hunter. Han är affärsman och driver sin egen verksamhet, en internationell konsultfirma, Hunter Advisers. David har nära kontakter med Sverige. Han bor i Glasgow med sin svenska fru.</p>
      <div class="staff-member2-sm">
        <h2>MAIRI MURRAY</h2>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/mairi.jpg",:class=>"staff-photo-sm") %>
      </div>
      <p>Mairi Murray är konsulär assistent. Hon har vanligen den första kontakten med besökare och har förbindelser med personalen på svenska ambassaden i London.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
