<div class="wrapper hidden-xs">
  <%= render "components/navbar.html" %>
  <div class="container">
    <div class="language">
      <%= link_to personal_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text">Svenska</p>
      <% end %>
      <%= link_to staff_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text flag-active">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>CONSULAR STAFF</h1>
      <div class="staff-member">
        <div>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1553250213/dh-consul.jpg",:class=>"staff-photo") %>
        </div>
        <div class="staff-text">
          <h2>DAVID HUNTER</h2>
          <p>David Hunter is the Honorary Swedish Consul in Glasgow. He is a businessman who runs his own company, the international consultancy Hunter Advisers. David has close connections with Sweden. He lives in Glasgow with his wife, who is Swedish.</p>
        </div>
      </div>
      <div class="staff-member staff-member2">
        <div>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1553250565/mm-consul.jpg",:class=>"staff-photo") %>
        </div>
        <div class="staff-text">
          <h2>MAIRI MURRAY</h2>
          <p>Mairi Murray is the Consular Assistant to David Hunter. Mairi will normally be the first point of contact for visitors and has links to the Swedish Embassy staff in London.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar.html" %>
  <div class="container-xs">
    <div class="container-yellow">
      <div class="language">
          <%= link_to personal_path, class: "flag-padding-xs" do %>
            <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
            <p class="flag-text">Svenska</p>
          <% end %>
          <%= link_to staff_path, class: "flag-padding-xs" do %>
            <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
            <p class="flag-text flag-active">English</p>
          <% end %>
      </div>
      <h1 class="consular-title-sm">CONSULAR STAFF</h1>
      <div class="staff-member1-sm">
        <h2>DAVID HUNTER</h2>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1553250213/dh-consul.jpg",:class=>"staff-photo-sm") %>
      </div>
      <p>David Hunter is the Honorary Swedish Consul in Glasgow. He is a businessman who runs his own company, the international consultancy Hunter Advisers. David has close connections with Sweden. He lives in Glasgow with his wife, who is Swedish.</p>
      <div class="staff-member2-sm">
        <h2>MAIRI MURRAY</h2>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1553250565/mm-consul.jpg",:class=>"staff-photo-sm") %>
      </div>
      <p>Mairi Murray is the Consular Assistant to David Hunter. Mairi will normally be the first point of contact for visitors and has links to the Swedish Embassy staff in London.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/footer.html" %>
</div>
