<div class="wrapper hidden-xs">
  <%= render "components/navbar-sw.html" %>
  <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
  <div class="container">
    <div class="language">
      <%= link_to startsida_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
        <p class="flag-text-white flag-active">Svenska</p>
      <% end %>
      <%= link_to root_path, class: "flag-padding" do %>
        <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
        <p class="flag-text-white">English</p>
      <% end %>
    </div>
    <div class="container-yellow">
      <h1>VÄLKOMMEN!</h1>
      <div style="border: black 3px solid; padding: 0 20px">
        <h2 style="margin: 16px 0">FÖRNYELSE AV PASS</h2>
        <p style="margin: 16px 0">Konsulatet kan inte förnya pass. Gå till passlänken på hemsidan. Det kan vara svårt att boka en tid i London och i Sverige. Vi kan tyvärr inte hjälpa med detta. </p>
      </div>
      <div style="border: black 3px solid; padding: 0 20px; margin-top: 20px;">
        <h2 style="margin: 16px 0">VISUM</h2>
        <p style="margin: 16px 0">Visum ansöks hos <a href="https://www.vfsglobal.com/" target="_blank" class="external-link external-link-size">VFS</a> i Edinburgh. Gå till passlänken på hemsidan. Konsulatet kan tyvärr inte hjälpa till med ansökan.</p>
      </div>
      <p>Välkommen till svenska konsulatets hemsida – Glasgow.</p>
      <p>Vi utför konsulära tjänster och hjälper svenska medborgare, som är besökare eller är tillfälligt bosätta i Glasgow och västra Skottland.</p>
      <p>Kontoret ligger i centrala Glasgow och håller öppet vissa dagar mellan måndag och fredag 9.30-17.30. Det är nödvändigt att boka en tid.</p>
    </div>
  </div>
</div>

<div class="visible-xs">
  <%= render "components/navbar-sw.html" %>
  <div class="container-xs">
    <p class="credit">Photo credit: Alexander Hall/imagebank.sweden.se</p>
    <div class="container-yellow">
      <div class="language">
        <%= link_to startsida_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/swedish-flag.png",:class=>"flag") %>
          <p class="flag-text flag-active">Svenska</p>
        <% end %>
        <%= link_to root_path, class: "flag-padding-xs" do %>
          <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552305881/british-flag.png",:class=>"flag") %>
          <p class="flag-text">English</p>
        <% end %>
      </div>
      <h1>VÄLKOMMEN!</h1>
      <div style="border: black 3px solid; padding: 0 20px">
        <h2 style="margin: 16px 0">FÖRNYELSE AV PASS</h2>
        <p style="margin: 16px 0">Konsulatet kan inte förnya pass. Gå till passlänken på hemsidan. Det kan vara svårt att boka en tid i London och i Sverige. Vi kan tyvärr inte hjälpa med detta. </p>
      </div>
      <div style="border: black 3px solid; padding: 0 20px; margin-top: 20px;">
        <h2 style="margin: 16px 0">VISUM</h2>
        <p style="margin: 16px 0">Visum ansöks hos <a href="https://www.vfsglobal.com/" target="_blank" class="external-link external-link-size">VFS</a> i Edinburgh. Gå till passlänken på hemsidan. Konsulatet kan tyvärr inte hjälpa till med ansökan.</p>
      </div>
      <p>Välkommen till svenska konsulatets hemsida – Glasgow.</p>
      <p>Vi utför konsulära tjänster och hjälper svenska medborgare, som är besökare eller är tillfälligt bosätta i Glasgow och västra Skottland.</p>
      <p>Kontoret ligger i centrala Glasgow och håller öppet vissa dagar mellan måndag och fredag 9.30-17.30. Det är nödvändigt att boka en tid.</p>
    </div>
  </div>
</div>
<div class="visible-xs">
  <%= render "components/footer-sw.html" %>
</div>
